*{
    transition: 1s;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: black;
}

p{
    z-index: -1;
    font-family: sans-serif;,
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
    }

div {
    position: absolute;
    padding: 20px 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: black;
    border-right: 5px solid white;
    animation: anima 9s ease-in-out infinite;
    }

    @keyframes anima {
        0%{width: 90px;}
        50%{width:400px;}
        100%{width:90px;}
    }
